:root {
  font-size: 16px;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  cursor: default;
  user-select: none;
  overflow: hidden;
  font-family: monospace;
  font-size: 0.75rem;
  line-height: 1rem;
}

canvas {
  vertical-align: middle;
}

#canary, #loading {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#canary.enabled, #loading.enabled {
  display: block;
}

#canary > a, #info > a {
  color: inherit;
}

#info {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, .5);
  opacity: 0.6;
}

#light {
  display: none;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

#light.enabled {
  display: flex;
}

#light > svg {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, .5);
  padding: 0.5rem 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #000;
  cursor: pointer;
  transition: background-color ease-out .3s;
}

#light > svg:nth-child(1) {
  border-radius: 1rem 0 0 1rem;
  padding-right: 0.75rem;
}

#light > svg:nth-child(2) {
  border-radius: 0 1rem 1rem 0;
  padding-left: 0.75rem;
}

#light.day > svg:nth-child(1) {
  background: #aa0;
  cursor: default;
}

#light.night > svg:nth-child(2) {
  background: #00a;
  cursor: default;
}

#ribbon {
  width: 12.1em;
  height: 12.1em;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  pointer-events: none;
  text-decoration: none;
  text-indent: -999999px;
}

#ribbon:before, #ribbon:after {
  position: absolute;
  display: block;
  width: 15.38em;
  height: 1.54em;
  top: 3.23em;
  right: -3.23em;
  box-sizing: content-box;
  transform: rotate(45deg);
}

#ribbon:before {
  content: "";
  padding: .38em 0;
  background-color: #393;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

#ribbon:after {
  content: attr(data-ribbon);
  color: #fff;
  font: 700 1em monospace;
  line-height: 1.54em;
  text-decoration: none;
  text-shadow: 0 -.08em rgba(0, 0, 0, 0.5);
  text-align: center;
  text-indent: 0;
  padding: .15em 0;
  margin: .15em 0;
  border-width: .08em 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

body.pointerlock #info, body.pointerlock #light, body.pointerlock #ribbon {
  display: none;
}
